@media (max-width: 992px) {
  .about_us{
    .col.content{
      padding: 80px 10px;
    }
  }
}



@media (max-width: 576px) {
  .about_us{
    .col.img{
      display: none;
    }
    .info{
      text-align: center;
    }
    .lorem{
      text-align: center;
    }
  }
}