.price{
  background: #e7edf3;
  padding: 140px 0;
  margin-bottom: 130px;
  h3{
    @extend %head_style;
  }
}

.price{
  .price_lorem{
    text-align: center;
    color: $text-color;
    padding-bottom: 55px;
  }
}


  .card {
    text-align: center;

    .card-title {
      font-size: 30px;
      text-transform: uppercase;
      color: #818b95;
      font-family: -webkit-pictograph;
    }
    .card-item {
      display: flex;
      justify-content: center;
      border-bottom: 2px solid #e2e9f0;
      .card-text {
        font-size: 60px;
        color: $background-color;
      }
    }
  }

.money {
  padding-top: 10px;
  font-size: 45px;
  color: $background-color;
}

.card{
  .card-text-wrapper{
    display: flex;
    flex-direction: column;
    line-height: 40px;
    padding-top: 40px;
  }
}

.card{
  .card-sec-text{
    color: $text-main-color;
    text-transform: uppercase;
    font-size: 13px;
  }
}

.card{
  .price_item{
    color: $text-main-color;
    text-transform: uppercase;
    border-bottom: 2px solid #e2e9f0;
    padding: 10px 0;
  }
}

.last_price_item{
  text-transform: uppercase;
  color: $text-main-color;
  padding: 10px 0;
}

.price{
  .btn.btn-primary.active{
    background: $background-color;
    border-color: transparent;
    text-transform: uppercase;
  }
 }

.card-body{
  padding: 50px 20px;
}

.card:hover{
  background-color: #709dca;
  transform: scale(1.1);
  z-index: 1;
  transition: 0.3s;
  color: white;
  p, h1, h5, .card-text{
    color: white;
  }
}
